ORDER_DB_PASSWORD=admin1234
ORDER_DB_PORT=5438
ORDER_SERVICE_PORT=8086
ORDER_DOCKER_JWKS_URI=http://host.docker.internal:8080/.well-known/jwks.json
ORDER_DOCKER_CATALOG_BASE_URL=http://host.docker.internal:8082/
ORDER_DOCKER_PAYMENT_BASE_URL=http://host.docker.internal:8085/
ORDER_DOCKER_INVENTORY_BASE_URL=http://host.docker.internal:8083/
ORDER_DOCKER_LOYALTY_BASE_URL=http://host.docker.internal:8087/
ORDER_DOCKER_PROMOTION_BASE_URL=http://host.docker.internal:8088/
ORDER_MESSAGING_ENABLED=true
RABBITMQ_USER=coffee_app
RABBITMQ_PASSWORD=change-me
RABBITMQ_PORT=5672
