CATALOG_DB_PASSWORD=
ORDER_DB_PASSWORD=
PAYMENT_DB_PASSWORD=
INVENTORY_DB_PASSWORD=
PROCUREMENT_DB_PASSWORD=
LOYALTY_DB_PASSWORD=
PROMOTION_DB_PASSWORD=
FULFILLMENT_DB_PASSWORD=
NOTIFICATION_DB_PASSWORD=
BUSINESS_GATEWAY_PORT=8000
IDENTITY_JWKS_URI=http://host.docker.internal:8080/.well-known/jwks.json
